:root{
    --primary :#00008F ;
    --light:#d1d7d8 ;
    --darkprimary : ;
    --textcolor : #3B38C1;
    --textfooter :#ffffff  ;
    --background :#ffffff ;
    --backgroundfooter : #4976BA ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    font-family: system-ui, sans-serif ;
}

html {
    font-family: system-ui, sans-serif;
    background-color: #ffffff;
}
code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}
body{
    display: flex  ;
    flex-direction: column ;
    height: 100vh;
}
.contenu{
    flex: 1 0 auto;
}
@media (min-width: 600px) {
    .hamburger, .mobile-menu{
        display: none;
    }
    .menu{
        display: flex;
    }
}
