---
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.astro"
---

<Layout title="Contact">
    <main>
        <div>
            <Box description=""></Box>
            <Box description=""></Box>
            <Box description=""></Box>
        </div>
    </main>
</Layout>