---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <main>
        <div class="container">
            <h1>Nous Contacter</h1>
            <h2>Au 01 60 29 85 12</h2>
            <h2>Agence Axa au <a href="https://goo.gl/maps/RECzXryojmqaEKeV6" target="_blank">36 Avenue Charles Rouxel 77340 Pontault Combault</a></h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.2608742416246!2d2.604367399999999!3d48.7959995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e60f13facfe46b%3A0x6fe9510174af6c38!2s36%20Av.%20Charles%20Rouxel%2C%2077340%20Pontault-Combault!5e0!3m2!1sfr!2sfr!4v1683828779332!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <h1>Nos horraires d'ouverture</h1>
        <table>
            <thead>
                <tr>
                    <th>Jours</th>
                    <th>Matin</th>
                    <th>Après-midi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Lundi</th>
                    <td>Fermé</td>
                    <td>14h30 - 18h30</td>
                </tr>
                <tr>
                    <th>Mardi</th>
                    <td>09h00 - 12h00</td>
                    <td>14h30 - 18h30</td>
                </tr>
                <tr>
                    <th>Mercredi</th>
                    <td>09h00 - 12h00</td>
                    <td>14h30 - 18h30</td>
                </tr>
                <tr>
                    <th>Jeudi</th>
                    <td>09h00 - 12h00</td>
                    <td>14h30 - 18h30</td>
                </tr>
                <tr>
                    <th>Vendredi</th>
                    <td>09h00 - 12h00</td>
                    <td>14h30 - 18h30</td>
                </tr>
                <tr>
                    <th>Samedi</th>
                    <td>09h00 - 12h00</td>
                    <td>Fermé</td>
                </tr>
                <tr>
                    <th>Dimanche</th>
                    <td>Fermé</td>
                    <td>Fermé</td>
                </tr>
            </tbody>
        </table>
        
    </main>
</Layout>

<style>
h2{
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333333;
}
a{
    text-decoration: none;
    color: var(--backgroundfooter);
}    
a:hover{
	color: var(--primary);		
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
h1{
    text-align: center;
    color:var(--primary) ;
	margin: 2rem;
	font-size: 3rem;
	font-family: 'Taviraj', serif;
}
table {
  table-layout: fixed;
  width: 30%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
th,td {
  padding: 5px;
}
@media (max-width: 900px){
    table{
        width: 65%;
    }
}
@media (max-width: 600px){
    table{
        width: 100%;
    }
    iframe{
        width: 350px;
        height: 300px;
    }
}
.container{
    border-bottom: solid var(--light) 1px;
}
</style>