---
import '../styles/global.css'

export interface Props {
    description: string,
}

const { description} = Astro.props;
---

<div class="box">
    <p>{description}</p>
</div>


<style>
    .box{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 6px;
        overflow: hidden;
        padding: 30px;
        margin-bottom: 30px;
        max-width: 400px;
        min-height: 400px;
        box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 6%);
        margin: 50px;
    }
    p{
        margin-top: 10px;
        font-weight: 400;
        color: var();
        font-size: 1.25rem;
    }
    @media (max-width: 650px) {
		p{
            font-size: 1rem;
        }
        .box{
            margin: 25px;
            min-height: 200px;
        }
	}
</style>