---
import Menu from "./Menu.astro";
import Hamburger from "./Hamburger.astro";
import MobileMenu from "./MobileMenu.astro";
---
<header>
    <nav>
        <Menu/>
        <Hamburger/>
    </nav>
    <MobileMenu/>
</header>

<style>
    nav{
   position: relative;
   z-index: 99;
   background-color: var(--background) ;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: solid var(--primary) 2px;
   border-bottom: solid var(--light) 1px;
   
}

</style>