---

---

<div class="menu">
    <ul>
        <li class="box">
            <img src="home.svg" alt="Icone Accueil" >
            <a href="/">Accueil</a>
        </li>
        <li class="box">
            <img src="/contact.svg" alt="Icone Contact">
            <a href="contact">Contact</a>
        </li>
    </ul>
</div>

<style>
    .menu{
    display: none;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    margin: 1rem 4rem;
    text-transform: uppercase;
    }
    .menu a{
    color: var(--textcolor);
    margin: 0 0.25rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    padding:0.5rem 0.35rem;
    margin-right: 5rem;
    font-size: 1.15rem;
    }
    ul{
    list-style: none;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    
    }
    ul li a{
        display: block ;
        padding: 20px 25px;
        text-decoration: none;
        text-align: center;
        font-size: large;
        z-index: 97;
    }
    .box{
        display: flex;
        flex-direction: row;
    }
    img{
        color: var(--primary);
    }
</style>