---

---

<div class="menu">
    <ul>
        <li class="box">
            <a href="/"><img src="home.svg" alt="Icone Accueil" > Accueil </a>
        </li>
        <li class="box">
            <a href="contact"> <img src="/contact.svg" alt="Icone Contact"> Contact </a>
        </li>
        <li class="box">
            <a href="apropos"> <img src="/information.svg" alt="Icone Inforamtion"> À propos </a>
        </li>
    </ul>
</div>

<style>
    .menu{
    display: none;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    margin: 0rem 4rem;
    margin-top: 1rem;
    text-transform: uppercase;
    }
    .menu a{
    color: var(--textcolor);
    margin: 0 0.25rem;
    font-weight: 600;
    text-decoration: none;
    padding:0.5rem 0.35rem;
    margin-right: 1.25rem;
    font-size: 1.25rem;
    }
    ul{
    list-style: none;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    }
    a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: large;
        z-index: 97;
    }
    img{
        color: var(--primary);
        margin-right: 7px;
    }
    a:hover{
        padding-bottom: 1.1rem;
        border-bottom: solid #3B38C1 2px;
    }
    
    
    .box .active{
        padding-bottom: 1rem;
        border-bottom: solid #F07662 4px;
    }



</style>

<script>
    const nav = document.querySelector(".menu");
    const navLinks = nav.querySelectorAll("a");
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
      if (link.href === currentURL) {
        link.classList.add("active");
      }
    });
  </script>